<!DOCTYPE html>
<html lang="en">
{% extends "website/index.html" %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% load static %}
{% block sidebar %}<!-- Page Container -->
<div class="perfilpagecontent">
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

       <div class="w3">

         <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16">
             <a> About Us</a>
            </h2>
             <p>A SHF Sneakers é uma plataforma online de compra e venda de Ténis. Criada em 2008 por três estudantes universitários, somos desde 2012 os lideres mundiais nesta indústria tendo mais de 16 milhões de utilizadores espalhados pelo mundo inteiro. Orgulhamos-nos de ganhar pelo quarto ano consecutivo o Prémio de "escolha do consumidor" e fomos eleitos pela Deco pelo sexto ano consecutivo como "o site de compra e venda mais fidedigno" o que comprova a satisfação e confiança que os nossos utilizadores depositam em nós. </p>
         </div>
       <div>

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="{{'static/media/Tiago.jpg'}}" style="width:50%; border-radius:100px" alt="Avatar">
          <div>
            <h2>Tiago Domingos</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Co-Founder SHF Sneakers</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Algarve, Portugal</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>tmppd@iscte-iul.pt</p>
          <hr>


          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

   <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="{{'static/media/eu.jpg'}}" style="width:50%; border-radius:100px" alt="Avatar">
          <div>
            <h2>Bruno Oliveira</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Co-Founder SHF Sneakers</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Lisboa, Portugal</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>bmgoa@iscte-iul.pt</p>
          <hr>


          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

           <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="{{'static/media/B.jpg'}}" style="width:50%; border-radius:100px" alt="Avatar">
          <div>
            <h2>Bernardo Correia</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Co-Founder SHF Sneakers</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Almada, Portugal</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>bapca@iscte-iul.pt</p>
          <hr>


          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>
  </div>

  <!-- End Page Container -->
</div>

</div>
    </div>
</div>
{% endblock %}
</body>
</html>